@import '~bootstrap/dist/css/bootstrap.min.css';

body {
	font-size: 18px;
}

.container {
	max-width: 680px;
}

.btn {
	font-size: 1em;
}

label {
	font-size: 1em;
	margin-bottom: 0;
}

.nav-pills .nav-item + .nav-item {
	margin-left: 0;
}

.pushlist {
	padding: 0;
	list-style-type: none;
}

details {
	white-space: pre-wrap;
}
