@import '~bootstrap/dist/css/bootstrap.min.css';

body {
	font-size: 18px;
}

.container {
	max-width: 680px;
}

.btn {
	font-size: 1em;
}

.btn-primary:not([disabled]):not(.disabled).active {
	box-shadow: none;
}

label {
	font-size: 1em;
	margin-bottom: 0;
}

.pushlist li {
	height: 40px;
}

.pushlist li.hide {
	visibility: hidden;
	height: 0;
	margin: 0 !important;
	opacity: 0;
	transition: visibility 0s 0.3s, height 0.3s 0.3s, margin 0.3s 0.3s, opacity 0.3s;
}

details {
	white-space: pre-wrap;
}
