$primary: #443f4a;
$secondary: #736c7a;
$info: #477183;
$body-bg: #f8f8fb;
$warning: #a19a8e;

@import '~bootstrap/scss/bootstrap';

@include media-breakpoint-down(md) {
	.btn:focus {
		box-shadow: none !important;
	}
}

body {
	font-size: 18px;
}

.container {
	max-width: 680px;
}

.btn {
	font-size: 1em;
}

.pushlist li {
	height: 40px;

	&.hide {
		visibility: hidden;
		height: 0;
		margin: 0 !important;
		opacity: 0;
		transition: visibility 0s 0.3s, height 0.3s 0.3s, margin 0.3s 0.3s, opacity 0.3s;
	}
}

details {
	white-space: pre-wrap;
}
